# WIDHYA MISSION 1:  Data Science 

## Movies Recommendation Using Python

## Import the necessary libraries

In [1]:
#Importing the necessary libraries
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

## Microtask 1 : Data Collection

In [2]:
## Read and understand the dataset
df = pd.read_csv('movie_dataset.csv')

In [3]:
##Information about the dataset
df.head() ## Prints the top 5 rows of the dataset

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [4]:
df.tail() ##Prints the bottom 5 rows of the dataset

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
4798,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [5]:
df.info() ##Information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [6]:
df.describe() ## Information about the dataframe

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [8]:
df.shape ##Dimensions about the dataset

(4803, 24)

## Tagline of the movie at the 15th position

In [9]:
df.loc[14, "tagline"]

'You will believe that a man can fly.'

# Microtask 2 : Feature Selection and Data Cleaning

## Select the necessary features

In [10]:
features_needed = ['keywords','overview','tagline','director','genres']
for feature in features_needed:
    df[feature] = df[feature].fillna('')

## Combine the features

In [15]:
def combined_features(row):
    return row['keywords']+" "+row['overview']+""+row['tagline']+" "+row['genres']+" "+row['director']

In [16]:
df["combined_features"] = df.apply(combined_features, axis =1)

# Microtask 3 : Find Similarity

## Vectorize the data

In [18]:
countv=CountVectorizer()
count_vector=countv.fit_transform(df['combined_features'])

In [19]:
print("Count Vector:", count_vector.toarray())

Count Vector: [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

## Identify the similarities

In [20]:
x=[]
y=0
for i in count_vector:
    x.append([cosine_similarity(i,count_vector[0]),y])
    y+=1

In [21]:
cosine_sim = cosine_similarity(count_vector)
print(cosine_sim)

[[1.         0.41219906 0.26772484 ... 0.32943456 0.21821789 0.14699368]
 [0.41219906 1.         0.37525202 ... 0.42927988 0.32497779 0.19900744]
 [0.26772484 0.37525202 1.         ... 0.26978155 0.21650635 0.18856181]
 ...
 [0.32943456 0.42927988 0.26978155 ... 1.         0.30552619 0.18489469]
 [0.21821789 0.32497779 0.21650635 ... 0.30552619 1.         0.24494897]
 [0.14699368 0.19900744 0.18856181 ... 0.18489469 0.24494897 1.        ]]

# Microtask 4 : Recommendation based on a Movie

## Function for getting index position from the title of the movie

In [24]:
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [25]:
## Let us select the movie as "Avatar"
movie = "Avatar"

In [26]:
movie_index = get_index_from_title(movie)
movie_index

0

## Function for getting title of the movie from the index position of the movie

In [27]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

In [28]:
## Let's select the index as 17
indexed_movie=17

In [30]:
title = get_title_from_index(indexed_movie)
title

'Pirates of the Caribbean: On Stranger Tides'

In [31]:
## Similar movies based on similarity score
similar_movies = list(enumerate(cosine_sim[movie_index]))

## Recommendations based on Similarity Scores after Sorting

In [32]:
similar_movies_after_sorting = sorted(similar_movies, key=lambda x:x[1], reverse=True)

## Identifying Movies Similar to a given movie

In [38]:
print("Movies Similar to", movie, ":\n")

i=0
for movie in similar_movies_after_sorting:
    print(i + 1, get_title_from_index(movie[0]))
    i=i+1
    if i>16:
        break

Movies Similar to (0, 1.0000000000000002) :

1 Avatar
2 Starship Troopers
3 Moonraker
4 Hellboy II: The Golden Army
5 Aliens vs Predator: Requiem
6 Men in Black
7 Jason X
8 Sphere
9 The Ice Pirates
10 Captain America: The Winter Soldier
11 Men in Black II
12 You Only Live Twice
13 Lifeforce
14 Serenity
15 Battleship
16 The Adventures of Pluto Nash
17 Jack the Giant Slayer

## Identifier to get similar movies

In [50]:
def similar_movies_identifier():
    
    movie=input('Please Enter Movie Title:')
    
    def get_index_from_title(title):
        return df[df.title == title]["index"].values[0]

    movie_index = get_index_from_title(movie)
    
    def get_title_from_index(index):
        return df[df.index == index]["title"].values[0]

    title = get_title_from_index(indexed_movie)
    
    similar_movies = list(enumerate(cosine_sim[movie_index]))

    similar_movies_after_sorting = sorted(similar_movies, key=lambda x:x[1], reverse=True)
    
    print("Top 10 similar movies to selected movie:", movie, "\n")

    i=0
    for movie in similar_movies_after_sorting:
        print(i + 1, get_title_from_index(movie[0]))
        i=i+1
        if i>10:
            break

In [52]:
similar_movies_identifier()

Please Enter Movie Title:The Avengers
Top 10 similar movies to selected movie: The Avengers

1 The Avengers
2 Avengers: Age of Ultron
3 Captain America: The Winter Soldier
4 How to Train Your Dragon 2
5 The Work and the Glory II: American Zion
6 Beneath the Planet of the Apes
7 The Last Samurai
8 Superman II
9 Iron Man 2
10 The Lord of the Rings: The Return of the King
11 In the Heart of the Sea

In [53]:
similar_movies_identifier()

Please Enter Movie Title:Batman
Top 10 similar movies to selected movie: Batman

1 Batman
2 Batman Begins
3 The Dark Knight
4 Ironclad
5 Batman Returns
6 The Pursuit of D.B. Cooper
7 The Ant Bully
8 Manito
9 The Dark Knight Rises
10 Conan the Barbarian
11 Invaders from Mars

In [54]:
similar_movies_identifier()

Please Enter Movie Title:Nancy Drew
Top 10 similar movies to selected movie: Nancy Drew

1 Nancy Drew
2 Caravans
3 Jack the Giant Slayer
4 The Man from Snowy River
5 Twixt
6 Ponyo
7 The Town
8 Guiana 1838
9 Prometheus
10 The Lord of the Rings: The Return of the King
11 300: Rise of an Empire



# Thank You !!